*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    background-image: linear-gradient(to right, rgb(75, 75, 77) , rgba(57, 194, 228, 0.486));
    width: 100%;
    height: 12%;
    padding: 1% 2%;
    box-shadow: 1px 3px 1px 0px rgba(104, 100, 100, 0.438);
    border-radius: 0px 0px 55px 55px;
    position: fixed;
    top: 0;
    z-index: 5;
}
ul{
    list-style-type: none;
    display: flex;
    /* background-color: rgba(118, 235, 128, 0.315); */
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    flex: auto;
}
.logo{
    width: 80px;
}
li :Link {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    margin-left: 3rem;

}
a{
    color: black;
}
.aactive{
    text-decoration:underline;
    color:red
}
.cardImg{
    width: 38px;
    margin-right: 0px;
    justify-content: flex-start;
}
.liCart{
    position: absolute;
    right: 40px;
    margin-right: 2rem;
}
.spanCount{
background-color: rgb(5, 190, 5);
border-radius: 50%;
padding: 0px 4px;
height: 25px;
width: 35px;
font-size: 1.1vw;
}